

.text-center{
    color: #FFFFFF;
}

.card {
    height: 100%; /* Đảm bảo các card có chiều cao đồng đều */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 1px solid black !important; /* Đổi border thành màu đen */
    .card-body{
        background-color: black;
    }
}

.card h5 {
    color: #FFFFFF;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card-img-top:hover {
    transform: scale(1.1); /* Zoom in */
}
